.dark-theme {
  --fg-100: #efefef;
  --fg-default: #ffffff;
  --bg-100: #1a1a1a;
  --bg-default: #000000;
  --primary-100: #fef1cf;
  --primary-200: #fee39e;
  --primary-300: #fdd56e;
  --primary-400: #fcc73d;
  --primary-500: #ffd117;
  --primary-600: #c9940a;
  --primary-700: #976f08;
  --primary-800: #654a05;
  --primary-900: #322503;
}