.dark-theme {
  --fg-100: #efefef;
  --fg-default: #ffffff;
  --bg-100: #1a1a1a;
  --bg-default: #000000;
  --primary-100: #cde4f4;
  --primary-200: #9cc8e8;
  --primary-300: #6aaddd;
  --primary-400: #3992d2;
  --primary-500: #0776c7;
  --primary-600: #065f9f;
  --primary-700: #044777;
  --primary-800: #032f4f;
  --primary-900: #011828;
}